html {
  font-size: 14px;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

